.alert {
  background: green;
}

.alert.alert-success{
  background: lightgreen;
}

.alert.alert-info{
  background: burlywood;
}

.alert.alert-warning{
  background: yellow; 
}

.alert.alert-danger{
  background: pink;
}

